{{title}}

 <router-outlet></router-outlet>

<div>
  <h3> Types of Binding</h3>
  <li> Component --> Template using interpolation </li>
      {{title}}
  <li> Component --> Template using Property binding []</li>
      <img [src]="imageLocation" >
  <li> Component --> Template using Event binding </li>
      <button type="button" (click) = "onClick()" > Button</button>    
</div>

<div>
  <h3>Parent-Child relationship</h3>
  <li> Parent -> Child using @Input in child</li>
    <app-bank-branch [loggedIn] ="isParentLogged"></app-bank-branch>
  
    <li> Child -> Parent using @Output-EventEmitter in child</li> 
    <app-bank-branch [loggedIn] ="isParentLogged" (statusUpdatedInChild) = "catchEvent($event)"></app-bank-branch>

    <li>ngOnChanges() can also help to track the changes in template and capture in ts file</li>

</div>
<div>
  <h3>Accessing template/dom from component</h3>
  <li>@ViewChild accessing Dom element using ElementRef</li>
  UserName: <input #nameRef  type="text" [(ngModel)]="name">
  Password: <input #passwordref type="password" >
  {{name}}
</div>

<li>@ViewChildren accessing Dom element using ElementRef</li>
<p> to print the length of bankbranch component used in this template</p>